<h1>Editing list</h1>

<%= render 'editform' %>

<%= link_to 'Show', @list %> |
<%= link_to 'Back', lists_path %> |
<%= link_to 'Short Term Memory Test Admin', rails_admin_path %> |
<% if admin_signed_in? %>
    <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
<% end %>
