<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Sex</th>
      <th>Yearofbirth</th>
      <th>Handedness</th>
      <th>Education</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.sex %></td>
        <td><%= user.yearOfBirth %></td>
        <td><%= user.handedness %></td>
        <td><%= user.education %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
