<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Yearofbirth:</strong>
  <%= @user.yearOfBirth %>
</p>

<p>
  <strong>Handedness:</strong>
  <%= @user.handedness %>
</p>

<p>
  <strong>Education:</strong>
  <%= @user.education %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
