<p id="notice"><%= notice %></p>

<p>
  <strong>Testcase:</strong>
  <%= @result.testcase %>
</p>

<p>
  <strong>Keypressed:</strong>
  <%= @result.keypressed %>
</p>

<p>
  <strong>Keypressindex:</strong>
  <%= @result.keypressindex %>
</p>

<p>
  <strong>Last series:</strong>
  <%= @result.last_series %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @result.timestamp %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
