<%= form_for(@testcase) do |f| %>
  <% if @testcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testcase.errors.count, "error") %> prohibited this testcase from being saved:</h2>

      <ul>
      <% @testcase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :list_id %><br>
    <%= f.number_field :list_id %>
  </div>
  <div class="field">
    <%= f.label :training %><br>
    <%= f.check_box :training %>
  </div>
  <div class="field">
    <%= f.label :finished %><br>
    <%= f.check_box :finished %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
