<h1>Listing testcases</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>List</th>
      <th>Training</th>
      <th>Finished</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @testcases.each do |testcase| %>
      <tr>
        <td><%= testcase.user_id %></td>
        <td><%= testcase.list_id %></td>
        <td><%= testcase.training %></td>
        <td><%= testcase.finished %></td>
        <td><%= link_to 'Show', testcase %></td>
        <td><%= link_to 'Edit', edit_testcase_path(testcase) %></td>
        <td><%= link_to 'Destroy', testcase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testcase', new_testcase_path %>
