<h1>Listing testlogs</h1>

<table>
  <thead>
    <tr>
      <th>Testcase</th>
      <th>Eventtype</th>
      <th>Value</th>
      <th>Timestamp</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @testlogs.each do |testlog| %>
      <tr>
        <td><%= testlog.testcase_id %></td>
        <td><%= testlog.eventtype %></td>
        <td><%= testlog.value %></td>
        <td><%= testlog.timestamp %></td>
        <td><%= link_to 'Show', testlog %></td>
        <td><%= link_to 'Edit', edit_testlog_path(testlog) %></td>
        <td><%= link_to 'Destroy', testlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Testlog', new_testlog_path %>
