<p id="notice"><%= notice %></p>

<p>
  <strong>Position:</strong>
  <%= @numberset.position %>
</p>

<p>
  <strong>List:</strong>
  <%= @numberset.list_id %>
</p>

<p>
  <strong>Length:</strong>
  <%= @numberset.length %>
</p>

<p>
  <strong>Order:</strong>
  <%= @numberset.order %>
</p>

<%= link_to 'Edit', edit_numberset_path(@numberset) %> |
<%= link_to 'Back', numbersets_path %>
